[user]
  name = vuhuucuong
  email = vuhuucuong1310@gmail.com
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
	keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
	editor = nvim
[credential]
	helper = osxkeychain
