[user]
  name = Cuong Vu
  email = vuhuucuong1310@gmail.com
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[diff]
	tool = vscode
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
